<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/style.css">
  <title>Your Courses</title>
</head>
<body>


    <div class="courses">
      <h1>
        Your Courses
      </h1>
      <br />
      <p onclick="console.log('{{courses}}');console.log('e');">Hello, {{self.name}}. You are currently a teacher in {{courseAmt}} classrooms.</p>
      <br />
      {{#each courses}}
        <div class="course">
          <h2>{{this.name}}</h2>
          <p>{{this.students.length}} students</p>
        </div>
      {{/each}}
    </div>

    <div class="footer">
      <a href="https://eastinitiative.org/">
        <img src="/static/east.png">
      </a>
    </div>
</body>
</html>